* {
    margin: auto;
    padding: 0px;
    font-family: "Poppins";
    box-sizing: border-box;
}
body {
    display: block;
    margin: 10px;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100px;
    background-color: white;
}
nav ul {
    list-style: none;
    display: flex
}
ul li {
    margin-right: 40px;
} 
ul li a { 
    text-decoration: none;
    color: black;
}
main {
    margin-top: 90px;
}
#container {
    width: 100%;
    margin: 0 ;
    margin-top: 30px;
}
.container_hero {
    display: flex;
    width: 780px;
    padding: 150px 0px;
    margin: 0 auto;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    
}
.container_hero_image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_hero_headline {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 50%;
}
.container_hero-headline h1 {
    width: 100%;
}

.container_hero-headline small {
    margin-top: 20px;
}

.container_hero-headline ul {
    display: flex;
    list-style: none;
}


.container_hero-headline ul li {
    margin-top: 20px;
    margin-right: 30px;
}
.container_describe {
    width: 100%;
    display: flex;
    margin: 0 ;
    background-color: #203239

}
.container_describe-info {
    width: 50%;
    padding: 50px;
    /* border: 10px solid ; */
    background-color: white;
}
.container_describe-info__card {
    margin: 0 auto;
    width: 80%;
    padding: 40px;
    border: 5px solid black;
}
footer {
    padding: 40px;
}
.container_describe-animation {
    background-color: #203239;
    width : 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: white;
    /* animation-name: like;
    animation-duration: 2s; */
}
/* @keyframes like {
    5% {
      transform: rotate(5deg)
    }
    30% {
        transform:rotate(15deg);
    } */
    .fa-thumbs-up{
        animation: like 5s infinite;
    }
    @keyframes like {
        5% {transform: rotate(10deg);}
    }
    

.container-wrapping{
    padding: 50px;
    margin: 0 auto;
    width: 780px;
    padding-top: 100px;
    /* border: 1px solid red; */
}
.container-wrapping__card{
    width: 650px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;
}
.container-wrapping__card img{
    transform: 1s ease;
    width: 150px; 
}
.container-wrapping__card img:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.container-history{
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.container-history__table, .container-history__motto{
    width: 50%;
}


.container-history__table{
    margin-top: 80px;
} 
th, td {
    padding: 12px;
    text-align: left;
}

.container-history__motto{
    display: flex;
    align-items: left;
    flex-direction: column;
}

.container-history__motto p{
    font-size: 14px;
}
