.cdn {
    text-align: left;
    font-weight: 700;
    font-size: large;
    margin: 10px 10px 10px 450px;
    /* margin-right: 10px; */
    /* background-color: brown ; */
    /* padding-left: 250px; */
}